In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
dframe = DataFrame(np.arange(4 * 4).reshape((4, 4)))
dframe

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [3]:
# 0,1,2,3をpermutateしたarrayを取得します。
blender = np.random.permutation(4)
blender

array([2, 3, 0, 1])

In [7]:
np.random.permutation(9)

array([6, 4, 5, 0, 2, 8, 7, 1, 3])

In [8]:
dframe.take(blender)

    0   1   2   3
2   8   9  10  11
3  12  13  14  15
0   0   1   2   3
1   4   5   6   7

In [9]:
dframe.take(blender, axis=1)

    2   3   0   1
0   2   3   0   1
1   6   7   4   5
2  10  11   8   9
3  14  15  12  13

In [10]:
box = np.array(['A','B','C'])

In [11]:
box

array(['A', 'B', 'C'], dtype='<U1')

In [12]:
shaker = np.random.randint(0, len(box), size=10)

In [13]:
shaker

array([2, 2, 2, 0, 0, 2, 2, 0, 1, 2])

In [14]:
hand_grabs = box.take(shaker)

In [15]:
hand_grabs

array(['C', 'C', 'C', 'A', 'A', 'C', 'C', 'A', 'B', 'C'], dtype='<U1')