In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [2]:
dframe = pd.read_csv('lec25.csv')

In [3]:
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [4]:
dframe = pd.read_csv('lec25.csv', header=None)

In [5]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [8]:
pd.read_csv('lec25.csv',header=None,nrows=3)

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit

In [9]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [10]:
dframe.to_csv('my_text_date.csv')

In [11]:
import sys

In [13]:
dframe.to_csv(sys.stdout, sep=',')

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [14]:
dframe.to_csv(sys.stdout, columns=[0,1,3])

,0,1,3
0,q,r,t
1,2,3,5
2,a,s,f
3,5,2,7