In [4]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [5]:
ser1 = Series([1,2,3,4], index=['A', 'B', 'C', 'D'])

In [6]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [7]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [8]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [9]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [10]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0,5,10])

In [11]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [12]:
ser3.reindex(range(15), method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [13]:
ser3.reindex(range(15), method='bfill')

0        USA
1     Mexico
2     Mexico
3     Mexico
4     Mexico
5     Mexico
6     Canada
7     Canada
8     Canada
9     Canada
10    Canada
11       NaN
12       NaN
13       NaN
14       NaN
dtype: object

In [14]:
ser3.reindex(range(15), fill_value='No Country')

0            USA
1     No Country
2     No Country
3     No Country
4     No Country
5         Mexico
6     No Country
7     No Country
8     No Country
9     No Country
10        Canada
11    No Country
12    No Country
13    No Country
14    No Country
dtype: object

In [17]:
dframe = DataFrame(randn(25).reshape(5,5), index=['A','B','D','E','F'], columns=['col1', 'col2', 'col3','col4','col5'])

In [18]:
dframe

       col1      col2      col3      col4      col5
A -0.220845 -0.677236 -1.772230 -0.706211  0.445495
B  1.155189 -0.588163 -1.037169  0.370393 -1.541079
D -1.386200 -0.859904  1.084173 -0.091252 -0.894189
E  0.486468  0.450671 -1.312287  0.853276  0.267646
F  0.293846 -2.291169 -1.795601  0.859090 -1.475471

In [19]:
new_index = ['A', 'B', 'C', 'D','E','F']

In [20]:
dframe2 = dframe.reindex(new_index)

In [21]:
dframe2

       col1      col2      col3      col4      col5
A -0.220845 -0.677236 -1.772230 -0.706211  0.445495
B  1.155189 -0.588163 -1.037169  0.370393 -1.541079
C       NaN       NaN       NaN       NaN       NaN
D -1.386200 -0.859904  1.084173 -0.091252 -0.894189
E  0.486468  0.450671 -1.312287  0.853276  0.267646
F  0.293846 -2.291169 -1.795601  0.859090 -1.475471

In [22]:
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

In [23]:
dframe2.reindex(columns = new_columns)

       col1      col2      col3      col4      col5  col6
A -0.220845 -0.677236 -1.772230 -0.706211  0.445495   NaN
B  1.155189 -0.588163 -1.037169  0.370393 -1.541079   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.386200 -0.859904  1.084173 -0.091252 -0.894189   NaN
E  0.486468  0.450671 -1.312287  0.853276  0.267646   NaN
F  0.293846 -2.291169 -1.795601  0.859090 -1.475471   NaN

In [24]:
dframe

       col1      col2      col3      col4      col5
A -0.220845 -0.677236 -1.772230 -0.706211  0.445495
B  1.155189 -0.588163 -1.037169  0.370393 -1.541079
D -1.386200 -0.859904  1.084173 -0.091252 -0.894189
E  0.486468  0.450671 -1.312287  0.853276  0.267646
F  0.293846 -2.291169 -1.795601  0.859090 -1.475471

In [26]:
dframe.ix(new_index, new_columns)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

TypeError: __call__() takes from 1 to 2 positional arguments but 3 were given

In [27]:
dframe.loc(new_index)

TypeError: unhashable type: 'list'