In [1]:
import pandas as pd
from pandas import Series

In [2]:
obj = Series([3,6,9,12])

In [3]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [4]:
obj.values

array([ 3,  6,  9, 12])

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])

In [7]:
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [8]:
ww2_cas['USA']

400000

In [9]:
ww2_cas[ww2_cas>4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [10]:
ww2_cas>4000000

USSR        True
Germany     True
China      False
Japan      False
USA        False
dtype: bool

In [11]:
'USSR' in ww2_cas

True

In [12]:
ww2_dict = ww2_cas.to_dict()

In [13]:
ww2_dict

{'USSR': 8700000,
 'Germany': 4300000,
 'China': 3000000,
 'Japan': 2100000,
 'USA': 400000}

In [14]:
ww2_Series = Series(ww2_dict)

In [15]:
ww2_Series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [16]:
countries = ['China', 'Germany', 'Japan', 'USA', 'USSR', 'Argentina']

In [17]:
countries

['China', 'Germany', 'Japan', 'USA', 'USSR', 'Argentina']

In [18]:
obj2 = Series(ww2_dict, index = countries)

In [19]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [20]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [21]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [22]:
ww2_Series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [23]:
ww2_Series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [24]:
obj2.name = '第二次世界大戦の死傷者'

In [25]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: 第二次世界大戦の死傷者, dtype: float64

In [26]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: 第二次世界大戦の死傷者, dtype: float64

In [27]:
obj2.index.name = 'Countries'

In [28]:
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: 第二次世界大戦の死傷者, dtype: float64

In [31]:
obj2.values.name = 'dead'

AttributeError: 'numpy.ndarray' object has no attribute 'name'